// Hero Section

body {
  background-color: #f8fffc;
}

.hero {
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  background-image: url("./css/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  color: #fff;

  .logo {
    width: 130px;
    position: absolute;
    left: 90px;
    top: 4px;
    z-index: 3;
    img {
      max-width: 100%;
    }
  }

  .inner {
    width: 500px;
    padding-left: $padding-left;
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
  }

  p {
    font-size: 1.2em;
    margin: 15px 0;
  }

  .btn {
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
}

// Main section
.main {
  padding-top: 100px;
  padding-left: $padding-left + 30px;
  padding-right: $padding-left + 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./css/map.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    width: 500px;
    color: #2f2e41;
  }

  .services {
    margin-top: 50px;
    width: 100%;
    grid-template-rows: 1fr;

    .btn-soon {
      color: $primary-color;
      background-color: #e5fff4;
    }
  }
}

@media screen and(max-width:800px) {
  $padding-left: 20px;

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./css/hero_bg.jpg");
    .logo {
      left: 30px;
      top: 0;
      width: 100px;
    }
  }

  .hero .inner {
    padding-left: 0;
    width: 100%;
  }

  .main {
    padding-left: $padding-left + 10px;
    padding-right: $padding-left + 10px;

    h1 {
      width: 100%;
    }
  }
}

@media screen and(max-width:700px) {
  .hero .logo {
    left: 50px;
  }
}
