// Hero Section

body {
  background-color: #f8fffc;
}

.hero {
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  background-image: url("./css/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
  color: #fff;

  .logo {
    width: 130px;
    position: absolute;
    left: 90px;
    top: 4px;
    z-index: 3;
    img {
      max-width: 100%;
    }
  }

  .inner {
    width: 500px;
    padding-left: $padding-left;
  }

  h1 {
    font-size: 3.3em;
    font-weight: 700;
    line-height: 1em;

    .colored {
      color: #fff7bb;
    }
  }

  p {
    font-size: 1.2em;
    margin: 15px 0;
  }

  .btn {
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
  }
}

// Main section
.main {
  padding-top: 100px;
  padding-left: $padding-left + 30px;
  padding-right: $padding-left + 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./css/map.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    width: 500px;
    color: #00422e;
  }

  .services {
    margin-top: 50px;
    width: 100%;
    grid-template-rows: 1fr;

    .btn-soon {
      color: $primary-color;
      background-color: #e5fff4;
    }
  }
}

.features {
  position: relative;
  .watermark {
    position: absolute;
    left: 0;
    top: -150px;
    z-index: -1;
    height: 200vh;
    right: -$padding-left;
    overflow: hidden;
  }

  .features-title {
    margin-bottom: 40px;
  }

  .features-talk {
    padding-top: 100px;
    padding-bottom: 140px;
    position: relative;
    ul {
      font-size: 1.5em;
      list-style: none;
      font-weight: 600;
    }

    li {
      $square-width: 25px;
      margin-bottom: 50px;
      padding-left: $square-width + 23px;
      line-height: 1em;
      position: relative;
      color: #fff;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        height: $square-width;
        width: $square-width;
        background-color: currentColor;
        border-radius: 5px;
      }

      &::before {
        transform: translateY(-80%) translateX(-8px);
        z-index: 1;
      }

      &::after {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
        z-index: 2;
      }
    }

    .btn {
      font-weight: 600;
      background-color: #fff;
    }

    .background {
      position: absolute;
      top: 0;
      height: 100%;
      left: -($padding-left + 30px);
      right: -($padding-left + 30px);
      z-index: -1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;

      .colors {
        position: relative;
        z-index: 1;
        div {
          height: 100%;
        }
        .green {
          background-color: #00cc75;
          clip-path: polygon(0 0, 76% 0, 95% 100%, 0% 100%);
        }

        .orange {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $secondary-color;
          clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
          z-index: -1;
        }
      }

      .picture {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
      }
    }
  }
}

.groove {
  width: 100%;
  min-height: 400px;
  padding: 50px;
  background-color: $secondary-color;
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
  h1 {
    max-width: 500px;
    margin-bottom: 5px;
    color: #2f2e41;
  }

  p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
  }

  form {
    max-width: 600px;
    position: relative;
    background-color: #fff;
    height: 60px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 1.5rem;

    input {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 20px;
      height: 100%;
      width: 70%;
      display: inline-block;
      outline: none;
      border: none;
      background-color: transparent;
      font-family: inherit;
      font-size: 1.2rem;
      &::placeholder {
        color: #9b9b9b;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .btn {
      position: absolute;
      z-index: 3;
      right: 10px;
      top: (60px - 36px)/2;
      background-color: $blue-color;
      color: #fff;
      padding: 5px 15px;
      height: 36px;
      font-size: 0.9em;
    }
  }

  img {
    position: absolute;
    right: 100px;
    bottom: 0;
    height: 350px;
  }
}

@media screen and(max-width:1200px) {
  .groove img {
    right: 20px;
    height: 300px;
  }
}

@media screen and(max-width:1070px) {
  .groove {
    min-height: 100%;
    img {
      display: none;
    }
  }

  .features .features-talk .background {
    background-color: #00cc75;

    .colors {
      display: none;
    }

    .picture {
      top: 50%;
      width: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

@media screen and(max-width:800px) {
  $padding-left: 20px;

  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./css/hero_bg.jpg");

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.1em;
    }

    .logo {
      left: 30px;
      top: 0;
      width: 100px;
    }
  }

  .hero .inner {
    padding-left: 0;
    width: 100%;
  }

  .main {
    padding-left: $padding-left + 10px;
    padding-right: $padding-left + 10px;

    h1 {
      width: 100%;
      font-size: 2.5em;
    }
  }

  .features .watermark {
    right: -$padding-left;
  }

  .features .features-talk {
    padding-bottom: 250px;
  }

  .features .features-talk .background {
    left: -($padding-left + 10px);
    right: -($padding-left + 10px);

    .picture {
      bottom: 0;
      left: 0;
      transform: none;
      top: unset;
      right: unset;
    }
  }
}

@media screen and(max-width:600px) {
  .groove {
    padding: 25px;

    form {
      padding: 0;
      background-color: unset;
      border-radius: unset;
      display: flex;
      flex-direction: column;
      height: unset;

      input {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        height: 50px;
        margin-bottom: 20px;
      }

      .btn {
        width: max-content;
      }

      input,
      .btn {
        position: static;
      }
    }
  }

  .features .features-talk {
    padding-bottom: 140px;
  }

  .features .features-talk .background {
    .picture {
      display: none;
    }
  }
}

@keyframes scroll {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: -90%;
  }
}
