@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  padding: 7px 15px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: inherit;
}

.text-primary {
  color: #009153;
}

.text-secondary {
  color: #ffc01e;
}

.btn-primary {
  background-color: #009153;
  color: #fff;
  font-weight: 600;
}

.btn-secondary {
  background-color: #ffc01e;
  color: #000;
  font-weight: 600;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emoji {
  font-weight: initial;
}

body {
  background-color: #f8fffc;
}

.hero {
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-image: url("./css/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
  color: #fff;
}

.hero .logo {
  width: 130px;
  position: absolute;
  left: 90px;
  top: 4px;
  z-index: 3;
}

.hero .logo img {
  max-width: 100%;
}

.hero .inner {
  width: 500px;
  padding-left: 60px;
}

.hero h1 {
  font-size: 3.3em;
  font-weight: 700;
  line-height: 1em;
}

.hero h1 .colored {
  color: #fff7bb;
}

.hero p {
  font-size: 1.2em;
  margin: 15px 0;
}

.hero p span {
  display: inline-block;
  height: 15px;
  width: 3px;
  background-color: #fff;
  margin-left: 1px;
  -webkit-animation: blink 0.5s linear infinite alternate;
          animation: blink 0.5s linear infinite alternate;
}

.hero .btn {
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 30px;
}

.main {
  padding-top: 100px;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./css/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.main h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  width: 500px;
  color: #00422e;
}

.main .services {
  margin-top: 50px;
  width: 100%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main .services .btn-soon {
  color: #009153;
  background-color: #e5fff4;
}

.features {
  position: relative;
}

.features .watermark {
  position: absolute;
  left: 0;
  top: -150px;
  z-index: -1;
  height: 150vh;
  right: -60px;
  overflow: hidden;
}

.features .features-title {
  margin-bottom: 40px;
  max-width: 800px;
  width: unset;
}

.features .features-talk {
  padding-top: 100px;
  padding-bottom: 140px;
  position: relative;
}

.features .features-talk ul {
  font-size: 1.5em;
  list-style: none;
  font-weight: 600;
}

.features .features-talk li {
  margin-bottom: 50px;
  padding-left: 48px;
  line-height: 1em;
  position: relative;
  color: #fff;
}

.features .features-talk li::before, .features .features-talk li::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
  height: 25px;
  width: 25px;
  background-color: currentColor;
  border-radius: 5px;
}

.features .features-talk li::before {
  -webkit-transform: translateY(-80%) translateX(-8px);
          transform: translateY(-80%) translateX(-8px);
  z-index: 1;
}

.features .features-talk li::after {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.features .features-talk .btn {
  font-weight: 600;
  background-color: #fff;
}

.features .features-talk .background {
  position: absolute;
  top: 0;
  height: 100%;
  left: -90px;
  right: -90px;
  z-index: -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.features .features-talk .background .colors {
  position: relative;
  z-index: 1;
}

.features .features-talk .background .colors div {
  height: 100%;
}

.features .features-talk .background .colors .green {
  background-color: #00cc75;
  -webkit-clip-path: polygon(0 0, 77% 0, 97% 100%, 0% 100%);
          clip-path: polygon(0 0, 77% 0, 97% 100%, 0% 100%);
}

.features .features-talk .background .colors .orange {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc01e;
  -webkit-clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.features .features-talk .background .picture {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
}

.groove {
  width: 100%;
  min-height: 400px;
  padding: 50px;
  background-color: #ffc01e;
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
}

.groove h1 {
  max-width: 500px;
  margin-bottom: 5px;
  color: #2f2e41;
}

.groove p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
}

.groove form {
  max-width: 600px;
  position: relative;
  background-color: #fff;
  height: 60px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.groove form input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 20px;
  height: 100%;
  width: 70%;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
}

.groove form input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input::-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input::placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form .btn {
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 12px;
  background-color: #0067df;
  color: #fff;
  padding: 5px 15px;
  height: 36px;
  font-size: 0.9em;
}

.groove img {
  position: absolute;
  right: 100px;
  bottom: 0;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .groove img {
    right: 20px;
    height: 300px;
  }
}

@media screen and (max-width: 1070px) {
  .groove {
    min-height: 100%;
  }
  .groove img {
    display: none;
  }
  .features .features-talk .background {
    background-color: #00cc75;
  }
  .features .features-talk .background .colors {
    display: none;
  }
  .features .features-talk .background .picture {
    top: 50%;
    width: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 800px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./css/hero_bg.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./css/hero_bg.jpg");
  }
  .hero h1 {
    font-size: 2.5em;
  }
  .hero p {
    font-size: 1.1em;
  }
  .hero .logo {
    left: 30px;
    top: 0;
    width: 100px;
  }
  .hero .btn {
    padding: 8px 20px;
  }
  .hero .inner {
    padding-left: 0;
    width: 100%;
  }
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main h1 {
    width: 100%;
    font-size: 2.5em;
  }
  .features .watermark {
    right: -20px;
  }
  .features .features-talk {
    padding-bottom: 250px;
  }
  .features .features-talk .background {
    left: -30px;
    right: -30px;
  }
  .features .features-talk .background .picture {
    bottom: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    top: unset;
    right: unset;
  }
}

@media screen and (max-width: 600px) {
  .groove {
    padding: 25px;
  }
  .groove form {
    padding: 0;
    background-color: unset;
    border-radius: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  .groove form input {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    height: 50px;
    margin-bottom: 20px;
  }
  .groove form .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .groove form input,
  .groove form .btn {
    position: static;
  }
  .features .features-talk {
    padding-bottom: 140px;
  }
  .features .features-talk .background .picture {
    display: none;
  }
}

@-webkit-keyframes scroll {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -90%;
  }
}

@keyframes scroll {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -90%;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
/*# sourceMappingURL=index.css.map */