@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 15px;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  padding: 7px 15px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: inherit;
}

.text-primary {
  color: #009153;
}

.text-secondary {
  color: #ffc01e;
}

.btn-primary {
  background-color: #009153;
  color: #fff;
  font-weight: 600;
}

.btn-secondary {
  background-color: #ffc01e;
  color: #000;
  font-weight: 600;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #f8fffc;
}

.hero {
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-image: url("./css/hero_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 10%;
  color: #fff;
}

.hero .logo {
  width: 130px;
  position: absolute;
  left: 90px;
  top: 4px;
  z-index: 3;
}

.hero .logo img {
  max-width: 100%;
}

.hero .inner {
  width: 500px;
  padding-left: 60px;
}

.hero h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
}

.hero h1 .colored {
  color: #fff7bb;
}

.hero p {
  font-size: 1.2em;
  margin: 15px 0;
}

.hero .btn {
  background-color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.main {
  padding-top: 100px;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./css/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.main h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  width: 500px;
  color: #2f2e41;
}

.main .services {
  margin-top: 50px;
  width: 100%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.main .services .btn-soon {
  color: #009153;
  background-color: #e5fff4;
}

.features {
  position: relative;
}

.features .watermark {
  position: absolute;
  left: 0;
  top: -150px;
  z-index: -1;
  height: 200vh;
  right: -60px;
  overflow: hidden;
}

.features .features-title {
  margin-bottom: 0.3rem;
}

.features p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.features p.features-talk {
  width: 650px;
}

.features .inner {
  -ms-grid-columns: 1fr 400px;
      grid-template-columns: 1fr 400px;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  position: relative;
}

.features .inner .feature {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-top: 50px;
  padding-left: 60px;
  position: relative;
}

.features .inner .feature::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  --circle-width: 40px;
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: 50%;
  background-color: #ffc01e;
}

.features .inner .feature::after {
  content: "";
  position: absolute;
  --circle-width: 25px;
  --offset: calc(20px - calc(var(--circle-width) / 2));
  left: var(--offset);
  top: calc(50px + var(--offset));
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: 50%;
  background-color: #ffc01e;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.features .inner .feature .dashes {
  position: absolute;
  left: 20px;
  top: 50px;
  height: 100%;
  width: 10px;
  background-image: url(./css/dashes.png);
  background-repeat: repeat-y;
  -webkit-animation: scroll 12s linear 0s infinite forwards;
          animation: scroll 12s linear 0s infinite forwards;
}

.features .inner .feature .feature-title {
  margin-bottom: 10px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 500px;
  color: #2f2e41;
}

.features .inner .feature .feature-talk {
  max-width: 600px;
}

.features .inner figure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ 4;
}

.features .inner figure img {
  max-width: 100%;
}

.features .inner figure figcaption {
  text-align: center;
}

.features .inner figure figcaption p {
  padding: 5px 0;
}

.features .inner figure figcaption p.name {
  font-weight: 700;
  font-size: 1.5rem;
}

.testimony {
  margin-top: 150px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.testimony .testimony-image img {
  max-width: 100%;
}

.testimony .testimony-talk h3 {
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 500px;
  color: #2f2e41;
}

.testimony .testimony-talk .card {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 10px;
  min-height: 170px;
  margin-bottom: 30px;
}

.testimony .testimony-talk .card p {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.testimony .testimony-talk .name-container {
  padding-left: 40px;
}

.testimony .testimony-talk .name-container p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.testimony .testimony-talk .name-container .name {
  margin-bottom: 10px;
  position: relative;
}

.testimony .testimony-talk .name-container .name::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #000;
}

.groove {
  width: 100%;
  min-height: 400px;
  padding: 50px;
  background-color: #ffc01e;
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
}

.groove h1 {
  max-width: 500px;
  margin-bottom: 5px;
}

.groove p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
}

.groove form {
  max-width: 600px;
  position: relative;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.groove form input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 20px;
  height: 100%;
  width: 70%;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
}

.groove form input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input::-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form input::placeholder {
  color: #9b9b9b;
  font-size: 1.2rem;
  font-weight: 600;
}

.groove form .btn {
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 7px;
  background-color: #0067df;
  color: #fff;
  padding: 5px 15px;
  height: 36px;
}

.groove img {
  position: absolute;
  right: 100px;
  bottom: 0;
  height: 350px;
}

@media screen and (max-width: 1200px) {
  .features .inner {
    -ms-grid-rows: 1fr 1fr 1fr 500px;
        grid-template-rows: 1fr 1fr 1fr 500px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .features .inner .feature {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .features .inner .feature .feature-talk {
    max-width: 100%;
  }
  .features .inner figure {
    margin-top: 50px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    padding-left: 60px;
  }
  .features .inner figure img {
    max-width: unset;
    max-height: 80%;
  }
  .features .inner figure figcaption {
    text-align: left;
  }
  .groove img {
    right: 20px;
    height: 300px;
  }
}

@media screen and (max-width: 1070px) {
  .groove {
    min-height: 100%;
  }
  .groove img {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./css/hero_bg.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./css/hero_bg.jpg");
  }
  .hero .logo {
    left: 30px;
    top: 0;
    width: 100px;
  }
  .hero .inner {
    padding-left: 0;
    width: 100%;
  }
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main h1 {
    width: 100%;
  }
  .features p.features-talk {
    width: 100%;
  }
  .features .watermark {
    right: -20px;
  }
}

@media screen and (max-width: 600px) {
  .features .inner figure img {
    max-width: 100%;
  }
  .testimony {
    grid-row-gap: 50px;
  }
  .testimony .testimony-talk,
  .testimony .testimony-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .testimony .testimony-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .groove {
    padding: 25px;
  }
  .groove form {
    padding: 0;
    background-color: unset;
    border-radius: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  .groove form input {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    height: 50px;
    margin-bottom: 20px;
  }
  .groove form .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .groove form input,
  .groove form .btn {
    position: static;
  }
}

@-webkit-keyframes scroll {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -90%;
  }
}

@keyframes scroll {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -90%;
  }
}
/*# sourceMappingURL=index.css.map */